<?xml version="1.0"?>
<launch>

  <!-- Loads the rskbot model into the parameter server 
       (so that it can be access via 'spawn_model' directly using global param)-->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find rskbot_description)/urdf/rskbot.xacro'"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz with given configuration  -->
  <!--node name="rviz" pkg="rviz" type="rviz"/-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rskbot_description)/launch/rskbot.rviz"/>

</launch>
